.main-zone.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: calc(100% - 450px);
  background-color: #1c1a22;
  color: snow;
  padding-left: 10px;
}

.main-zone.container h1 {
  margin-left: 10px;
}

.MIDI-curve-editor-placeholder {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 200px;
  cursor: pointer;
  background: grey;
}
