.MIDI-curve-editor.container {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 220px;
  height: 180px;
  cursor: pointer;
  z-index: 1;
}

.MIDI-curve-editor.container.selected {
  position: fixed;
  top: 100px;
  right: 230px;
  z-index: 5;
}

.MIDI-curve-editor--widget-name {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(270deg) translate(-160px, 20px);
  transform-origin: top left;
  z-index: 6;
  user-select: none;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MIDI-curve-editor--widget-name.selected {
  display: none;
}
