.right-panel.container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 440px;
  background-color: rgb(244, 205, 96);
  padding: 0 20px;
  box-shadow: -2px -2px 0 1px slategray;
}

.right-panel.container button {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #151218;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.right-panel-controls {
  margin-top: 460px;
}

.right-panel-control {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.right-panel-control label {
  display: inline-block;
  width: 145px;
  vertical-align: top;
}

.right-panel-control input {
  width: 40px;
  height: 14px;
  margin-right: 5px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 2px 5px;
}

.right-panel-control input[name="displayName"], textarea {
  width: 200px;
  margin-right: 5px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 2px 5px;
}
